.phase {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 100;
	pointer-events: none;
}

.main-phase .action-menu {
	pointer-events: all;
	position: absolute;
	right: 24px;
	bottom: 42px;	

	display: flex;
	flex-direction: column;
}

.main-phase .action-menu button {
	transition: box-shadow 0.25s;
	background: none;
	border: none;
	border-radius: 100%;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);

	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 50%;
}
.main-phase .action-menu button:hover {
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.50);	
}

.main-phase .action-menu .add-button {
	background-color: #F74D4D;
	background-image: url('../images/add-white-18dp.svg');
}

@media only screen and (min-width: 768px) {
	.main-phase .action-menu .add-button::before {
		position: absolute;
		padding: 7px 4px;		
		width: 80px;				
		right: 66px;
		top: 18px;
		bottom: 14px;		
		content: 'Add Parking';
		background: rgba(255, 255, 255, 0.637);
		color: black;
		z-index: -1;	
		border-radius: 5px;	
	}

	.main-phase .action-menu button {
		width: 60px;
		height: 60px;
	}	
}

.phase.phase.add-parking-phase-p1 .cross-hair{
	width: 64px;
	height: 64px;
	position: absolute;
	top: calc(50vh - 32px);
	bottom: calc(50vh - 32px);
	left: calc(50vw - 32px);
	right: calc(50vw - 32px);
}
.phase.add-parking-phase-p1 .bottom-bar {
	position: absolute;
    bottom: 0;
    left: calc(50vw - 150px);
    right: calc(50vw - 150px);
    display: flex;
	flex-direction: column;	
	padding-bottom: 42px;
}
.phase.add-parking-phase-p1 .bottom-bar button {
	pointer-events: auto;
}
.phase.add-parking-phase-p1 .bottom-bar .prompt {	
	background: #FFFFFF;
	border: 1px solid #BDBDBD;
	border-radius: 2px;
	text-align: center;
	padding: 0 16px;
	margin-bottom: 12px;
}
.phase.add-parking-phase-p1 .bottom-bar .button-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;	
}
