button.primary, input[type='submit'].primary {
	background: #32A2FF;
	border: 1px solid #164770;
  border-radius: 5px;
  padding: 4px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
}
button.primary:active, input[type='submit'].primary:active {
  background: #164770;
}
button.primary:disabled, input[type='submit'].primary:disabled {
  background: rgb(107, 136, 160);
  opacity: 0.8;
}
button.neutral {
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 5px;
  padding: 4px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;  
}
button.neutral:active {
  background: #979797;
}

button.primary, button.neutral, input[type='submit'].primary {
  height: 45px;  
  padding: 0 24px;
}